<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Security</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <!-- header -->
  <header>
    <div class="container">
      <div class="navbar-content">
        <a href="#">
          <img src="/navbar-logo1.png" alt="#" class="navbar-logo">
        </a>
        <ul class="navbar-list">
          <li class="navbar-list-item">
            <a href="#">Home#1</a>
          </li>
          <li class="navbar-list-item">
            <a href="#">Home#1</a>
          </li>
          <li class="navbar-list-item">
            <a href="#">Home#1</a>
          </li>
        </ul>
      </div>

    </div>
  </header>
   <main style="min-height: 80vh;">
            {% include content %}
   </main>

    <footer>
      <div class="container">
        <div class="footer-content">
          <div class="footer-item">
            <p>О НАС</p>
            <ul class="footer-list">
              <li class="footer-list-item">
                <a href="#">Мы</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Мы</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Мы</a>
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <p>ЕЩЕ РАЗ О НАС</p>
            <ul class="footer-list">
              <li class="footer-list-item">
                <a href="#">Мы</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Мы</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Мы</a>
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <p>НУ И СНОВА О НАС</p>
            <ul class="footer-list">
              <li class="footer-list-item">
                <a href="#">Мы</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Мы</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Мы</a>
              </li>
            </ul>
          </div>
        </div>
    
      </div>
    
    </footer>
    </body>
    
    </html>