<h1>Создание статьи</h1>

<a href="/articles">Все статьи</a>

<form enctype="multipart/form-data" action="" method="post" style="display: flex; align-items: center; flex-direction: column;  justify-content: center; background-color: burlywood; padding: 2rem; margin: 0 auto; border-radius: 25px; width: 50%; height: 50vh; text-align: center; color: aliceblue;">
  <label for="">Заголовок статьи <input type="text" name="name"></label><br>
  <label for="">Текст статьи <textarea name="text"></textarea></label><br>
  <label for="">Изображение <input type="file" name="img" id="inputImg"></label><br>
  <input type="submit" value="Создать">
</form>