<h1>Registration</h1>

<div>
  <form action="" method="POST" style="height: 100%; border-radius: 25px; width: 30%; margin: 0 auto; background-color: burlywood; padding: 2rem; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="margin-bottom: 2rem;">
      <label for="inputName">Логин: </label>
      <input type="text" id="inputName" name="nickName">
    </div>
    <div style="margin-bottom: 2rem;">
      <label for="inputEmail">Email: </label>
      <input type="email" id="inputEmail" name="email">
    </div>
    <div style="margin-bottom: 2rem;">
      <label for="inputPassword">Password: </label>
      <input type="password" id="inputPassword" name="password">
    </div>
    <input type="submit">
  </form>
</div>